@import "variables.less"; 

.heads {
	font-family: @headFontFamily;
	font-weight: bold;
	text-align: center;
}

.title {
	font-family: @titleFontFamily;
	font-weight: bold;
}

.button-lg {
	border: transparent;
	border-radius: 10px;
	padding:15px 25px;
	min-width: 300px;
	font-weight: 500;
	margin: 10px;
}

.icon {
	max-width: 80px;
	max-height: 80px;
}
.sm-icon {
	max-width: 50px;
	max-height: 50px;
}
.lg-icon {
	max-width: 128px;
	max-height: 128px;
}

.link {
	font-size: @1stFontSize;
	font-family: @titleFontFamily;
	text-decoration: none;
}

.inner-container {
	margin:0;
	padding: 20px 10%;
	width: 100%;
}

.margin-top-40 {
	margin-top: 40px;
}

.image-bg {
	position: relative;
	z-index: -1;
}